body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #232f3e;
}


/*-------------NAV_1--------------*/
nav{
    background-color: #232f3e;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a{
    color: #fff;
    font-size:15px;
    text-decoration: none;
}

nav li{
    margin-right: 20px;
    list-style-type: none;
}

nav img {
    height: 40px;
}

/*-------------NAV_2--------------*/

.second_nav{
    background-color: #37475a;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.second_nav a{
    font-size: 15px;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.text_right{
    justify-content: end;
}

/*Product-animals-cards*/

.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 45px;
}


.product-item {
    background-color: #fff;
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
}

.product-item_page_produit{
 
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
   justify-content: center;
    margin-left: 37%;
    margin-top: 9%;
}

.produit-image {
    width: 300px;
    height: 200px;
    border-radius: 20px;
}

.btn_acheter{
    background-color: rgb(67, 67, 158); 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none;
    border-radius: 20px; 
    cursor: pointer;
}

.btn_acheter:hover{
   background-color: rgb(32, 31, 31);
   
}
/*************Footer*****************/
.bottom{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #2b2929;
    color: #fff;
    margin-top: 20px;
}

